body{
    font-family: 'Lilita One', cursive;
    background: palegreen;
}
.header_div{
    background: whitesmoke;
    color: #6666ff;
}
.header_div p{
font-family: 'Rubik Pixels', cursive;
color: #999000;
letter-spacing: 1px;
font-size: 13px;
font-weight:233;
}
.main_div button{
font-family: 'Syncopate', sans-serif;
margin-top:30px;
width: 136px;
font-weight: 235;
letter-spacing: 1px;
}
.copy_right_footer{
position: fixed;
color: #95f8b1;
bottom:0;
width:100%;
font-size:40px;
background-color: rgb(244, 255, 244);
line-height: 3;
text-align: center;
text-shadow: 3px 3px 3px rgb(90, 90, 90);
}